@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Montserrat' ,'Roboto', sans-serif;
    color: #9A9A9A;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

main{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 1185px;
    box-shadow: 0px 4px 12px 6px rgb(0 0 0 / 25%);
    margin: 40px 0px;
}

#banner{
    height: 350px;
    background-color: #64A0E5;
    font-size: 5.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    width: 100%;
}

#banner p{
    color: #ffffff;
}

produto-content{
    display: flex;
    flex-wrap: wrap;
}

.produto-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 25px;
}

.caixa-produto{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}

.img-produto{
    height: 350px;
    width: 350px;
    border: 1px solid #64A0E5;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}


.preco{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color:#64A0E5;
    border-radius: 7px;
    margin: 5px 0px 10px 0px;
}

.preco p {
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
}

.descricao{
    display: flex;
    max-width: 350px;
    width: 100%;
    justify-content: left;
    margin-bottom: 60px;
}

.marca{
    width: 100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64A0E5;
    border-radius: 7px;
    margin-right: 15px;
    min-width: 100px;
}

.marca img{
    width: 33px;
}

.codigo{
    font-size: 16px;
    font-weight: 700;
    color: #64A0E5;
}

.produto{
    font-size: 16px;
    font-weight: 700;
    color: #535353;
    margin-bottom: 5px;
}

.voltar{
    margin: 40px;
    margin-bottom: 0px;
    display: flex;
    border: 1px solid #64A0E5;
    border-radius: 7px;
    height: 45px;
    width: 130px;
    background: white;
    transition: 0.5s;
    color: #64A0E5;
}

.voltar:hover{
    background: #64A0E5;
    color: white;
    stroke: #ffffff;
}

.voltar a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #64A0E5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 7px;
    height: 45px;
    width: 130px;
}

.voltar a:hover{
    color: #ffffff;
}


.voltar a svg{
    margin-right: 5px;
    stroke: #64A0E5;
    transition: stroke, 1s;
}

h2{
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
    color: #64A0E5;
    font-size: 45px;
    width: 100%;
    max-width: 1185px;
}