
.container-esquerdo, .container-direito{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-esquerdo{
    background-color: #64A0E6;
}


h3, span, span p, .login-cadastro-nome a{
    color: white;
}

.botao-responsivo{
    color: #ffffff;
}

h3{
    font-size: 90px;
    display: flex;
    justify-content: center;
}


.login-cadastro-nome{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 40px;
    color: #64A0E6;
}

.btn-login-cadastro{
    height: 45px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #64A0E6;
    font-weight: 700;
    border-radius: 7px;
    color: white;
    border: none;
}

form{
    display: flex;
    flex-flow: column;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

input{
    width: 100%;
    height: 45px;
    background-color: #d1ecfa;
    border: 1px solid #dcdce6;
    border-radius: 7px;
    padding-left: 55px;
    transition: 1s ease-in-out;
    transition: border , 0.4s;
}

select{
    width: 100%;
    height: 45px;
    background-color: #d1ecfa;
    border: 1px solid #dcdce6;
    border-radius: 7px;
    padding-left: 55px;
    transition: 1s ease-in-out;
    transition: border , 0.4s;
}

input:hover{
    border: 1px solid #64A0E6;
}

.texto-final{
    text-align: center;
    align-self: center;
}

.texto-final a{
    color: #64A0E6;
}

.form-de-cadastro{
    height: 80%;
}

ul {
    font-size: 10px;
    display: flex;
}

.icon{
    display: flex;
    width: 100%;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}

.icon-dois-itens{
    display: flex;
    width: 100%;
    align-items: flex-start;
    position: relative;
}

.campo{
    width: 100%;
    display: flex;
    align-items: center;
}

.icon ul li{
    font-size: 11px;
    margin-top: 12px;
    color: rgb(226, 17, 17);
    font-weight: 550;
    justify-self: flex-start;
    margin-right: 20px;
}

.icon i {
    position: absolute;
    margin-left: 10px;
    border-right: 1px solid #b2b2b2;
    padding-right: 10px;
}

.icon-dois-itens i {
    position: absolute;
    margin-left: 10px;
    border-right: 1px solid #b2b2b2;
    padding-right: 10px;
}


svg {
    stroke: #64A0E6;
    width: 21px;
}

.primeiro-form{
    width: 100%;
    display: flex;
    align-items: center;
}

.segundo-form{
    width: 100%;
    margin-left: 10px;
}

.segundo-form input{
    padding-left: 10px;
}

@media (max-width: 425px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        height: 100% ;
    }
    .container-esquerdo, .container-direito{
        min-width: 425px;
    }

    .container-menor-esquerdo{
        height: 30%;
    }

    .container-direito{
        background-color: #64A0E6;
    }

    .container-monor-direito{
        height: 80vh;
    }

    h3{
        font-size: 35px;
    }

    span{
        display: none;
    }

    h2{
        color: #ffffff;
    }

    .btn-login-cadastro{
        background-color: #ffffff;
    }

    .login-cadastro-nome a{
        color: #64A0E6;
    }.btn-login-cadastro{
        color: #64a0e6;
    }

    h2{
        font-size: 34px;
    }

    .texto-final{
        color: #ffffff;
    }

    .texto-final a{
        color: #ffffff;
    }

}