{% extends 'base.html' %}
{% load static %}
{% load icon %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/home_cadastro.css' %}"> {% endblock %}

{% block title %}Seja Bem vindo{% endblock %}

{% block main %}

<main>
    <div class="container-esquerdo">
        <div class="container-menor-esquerdo">
            <h3>SEJA VEM VINDO</h3>
            <span>Ar_template® <p> v1.0</p></span>            
        </div>
    </div>
    <div class="container-direito">
        <div class="container-menor-direito">
            <div class="login-cadastro-nome">
                <h2>
                    Login,
                </h2>
                <a href="{% url 'cadastro' %}" class="btn-login-cadastro">Cadstre-se</a>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="icon" >
                    <i>{% icon "user" class="css-class" %}</i>
                    {{form.username}} 
                </div>
                <div class="icon">
                    <i>{% icon "key" class="css-class" %}</i>
                    {{form.password}}
                </div>
                <button type="submit" class="btn-login-cadastro" >Login</button>
            </form>
            <p class="texto-final">
                    Ainda não possui cadastros? Use seu e-mail corporativo e <a href="{% url 'cadastro' %}">Cadastre-se</a>
            </p>
        </div>
    </div>
    
</main>


{% endblock %}