{% extends 'base.html' %}
{% load static %}
{% load icon %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/home_cadastro.css' %}"> {% endblock %}

{% block title %}Cadastre-se{% endblock %}

{% block main %}

<main>
    <div class="container-esquerdo">
        <div class="container-menor-esquerdo">
            <h3>CADASTRO</h3>
            <div class="desenvolvido">
                <span>Ar_template® <p> v1.0</p></span>            
                <span>Desenvolvido Por Rodrigo C.®</span>
            </div>           
        </div>
    </div>
    <div class="container-direito">
        <div class="container-menor-direito">
            <div class="login-cadastro-nome">
                <h2>
                    Cadastro,
                </h2>
                <a href="{% url 'home' %}" class="btn-login-cadastro">Login</a>
            </div>
            <form method="post" class="form-de-cadastro">
                {% csrf_token %}
                <div class="icon">
                    <div class="campo">
                        <i>{% icon "user" class="css-class" %}</i>
                        {{form.username}}
                    </div>
                    <ul>
                        {% for error in form.username.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                </div>
                <div class="icon-dois-itens">
                    <div class="primeiro-form">
                        <div class="campo">
                            <i>{% icon "user-check" class="css-class" %}</i>
                            {{form.first_name}}
                        </div>
                        <ul>
                            {% for error in form.first_name.errors %}
                                {% if error %}
                                    <li>
                                        {{ error }}
                                    </li>
                                {% endif %}
                            {% endfor %} 
                        </ul> 
                    </div>

                    <div class="segundo-form">
                        <div class="campo">
                            {{form.last_name}}
                        </div>
                        <ul>
                            {% for error in form.last_name.errors %}
                                {% if error %}
                                    <li>
                                        {{ error }}
                                    </li>
                                {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                    
                </div>
                <div class="icon">
                    <div class="campo">
                        <i>{% icon "mail" class="css-class" %}</i>
                        {{form.email}}
                    </div>
                    <ul>
                        {% for error in form.email.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul> 
                </div>

                <div class="icon">
                    <div class="campo">
                        <i>{% icon "smartphone" class="css-class" %}</i>
                        {{form.celular}}
                    </div>
                    <ul>
                        {% for error in form.celular.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                </div>

                <div class="icon">
                    <div class="campo">
                        <i>{% icon "map-pin" class="css-class" %}</i>
                        {{form.estado}}
                    </div>
                    <ul>
                        {% for error in form.estado.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                </div>

                <div class="icon">
                    <div class="campo">
                        <i>{% icon "key" class="css-class" %}</i>
                        {{form.password1}}
                    </div>
                    <ul>
                        {% for error in form.password1.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                </div>

                <div class="icon">
                    <div class="campo">
                        <i>{% icon "key" class="css-class" %}</i>
                        {{form.password2}}
                    </div>
                    <ul>
                        {% for error in form.password2.errors %}
                            {% if error %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endif %}
                        {% endfor %} 
                    </ul>
                </div>

                <button type="submit" class="btn-login-cadastro" >Cadastrar-se</button>
            </form>
            <p class="texto-final">
                    Já é cadastrado? entre aqui <a href="{% url 'home' %}">Entre aqui</a>
            </p>
        </div>
    </div>
    
</main>


{% endblock %}