{% extends 'base.html' %}
{% load static %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/home_cadastro.css' %}"> {% endblock %}

{% block title %}Cadastre-se{% endblock %}

{% block main %}

<main>
    <div class="container-esquerdo">
        <div class="container-menor-esquerdo">
            <h3>CADAS-<br>TRO</h3>
            <span>Ar_template® <p> v1.0</p></span>            
        </div>
    </div>
    <div class="container-direito">
        <div class="container-menor-direito">
            <div class="login-cadastro-nome">
                <h2>
                    Cadastro,
                </h2>
                <a href="{% url 'home' %}" class="btn-login-cadastro">Login</a>
            </div>
            <form method="post" class="form-de-cadastro">
                {% csrf_token %}

                {% for field in form %}
                        {{field.label_tag}}
                        {{field}}
                        <!--{% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}-->
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                {% endfor %}
                <button type="submit" class="btn-login-cadastro" >Cadastrar-se</button>
            </form>
            <p class="texto-final">
                    Já é cadastrado? entre aqui <a href="{% url 'home' %}">Entre aqui</a>
            </p>
        </div>
    </div>
    
</main>


{% endblock %}