{% extends 'base.html' %}
{% load static %}
{% load icon %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/home_cadastro.css' %}"> {% endblock %}

{% block title %}Cadastre-se{% endblock %}

{% block main %}

<main>
    <div class="container-esquerdo">
        <div class="container-menor-esquerdo">
            <h3>CADAS-<br>TRO</h3>
            <span>Ar_template® <p> v1.0</p></span>            
        </div>
    </div>
    <div class="container-direito">
        <div class="container-menor-direito">
            <div class="login-cadastro-nome">
                <h2>
                    Cadastro,
                </h2>
                <a href="{% url 'home' %}" class="btn-login-cadastro">Login</a>
            </div>
            <form method="post" class="form-de-cadastro">
                {% csrf_token %}
                <div class="icon">
                    <i>{% icon "user" class="css-class" %}</i>
                    {{form.username}}
                    {% for error in field.errors %}
                            {{ error }}
                    {% endfor %}
                </div>
                <div class="icon">
                    
                    <div class="primeiro-form">
                        <i>{% icon "user-check" class="css-class" %}</i>
                        {{form.first_name}}
                        {% for errors in field.errors %}
                                {{ errors }}
                        {% endfor %} 
                    </div>

                    <div class="segundo-form">
                        {{form.last_name}}
                        {% for errors in field.errors %}
                                {{ errors }}
                        {% endfor %}    
                    </div>
                    
                </div>
                <div class="icon">
                    <i>{% icon "mail" class="css-class" %}</i>
                    {{form.email}}
                    {% for errors in field.errors %}
                            {{ errors }}
                    {% endfor %}
                </div>

                <div class="icon">
                    <i>{% icon "key" class="css-class" %}</i>
                    {{form.password1}}
                    {% for errors in field.errors %}
                            {{ errors }}
                    {% endfor %}
                </div>
                <button type="submit" class="btn-login-cadastro" >Cadastrar-se</button>
            </form>
            <p class="texto-final">
                    Já é cadastrado? entre aqui <a href="{% url 'home' %}">Entre aqui</a>
            </p>
        </div>
    </div>
    
</main>


{% endblock %}