<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crie seu template</title>
</head>
<body>
    <h1>
        Crie seu template
    </h1>
    <nav>
        <form method="post" action="{% url 'sair' %}">
            {% csrf_token %}
            <button type="submit">
                Sair
            </button>
        </form>
    </nav>

    <form action="{% url 'download' %}">
        <button type="submit">
        Download aqui
    </button>
    </form>

    <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit">Crie seu Layout</button>
    </form>
</body>
</html>