{% extends 'base.html' %}
{% load static %}
{% load icon %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/base_template.css' %}"> {% endblock %}

{% block title %}{{ produtos.0.cliente}}{% endblock %}

{% block main %}
    <div class="voltar">
        <a href="{% url 'templates' %}">Voltar</a>
    </div>

    <h2>{{ produtos.0.cliente.cliente}},</h2>
    
    <main>
        <div id="banner">
            <img src="{% static 'img/Vector_img_branco.png' %}" alt="Imagem_do_produto">
            <p>Banner</p>
        </div>

        <div class="produto-content">
            {% for produto in produtos %}
                <article class="caixa-produto">
                    <div class="img-produto">
                        <img src="{% static 'img/Vector_img.png' %}" alt="Imagem_do_produto">
                    </div>

                    <div class="preco">
                        <p>R$ {{ produto.preco }}</p>
                    </div>

                    <div class="descricao">

                        <div class="marca">
                            <img src="{% static 'img/Vector_img.png' %}" alt="Imagem_do_produto">
                        </div>

                        <div class="informacoes">
                            <p class="codigo"> Cod: {{ produto.cod_da_peca }}</p>
                            <p class="produto"> {{ produto.descricao }}</p>
                            <p>{{ produto.aplicacao }}</p>
                        </div>
                    </div>

                </article>
            {% endfor %}
        </div>

    </main>
{% endblock %}