    {% extends 'base.html' %}
    {% load static %}
    {% load icon %}
    
    {% block content %} <link rel="stylesheet" href="{% static 'estilo/criar_template.css' %}"> {% endblock %}
    
    {% block title %}Crie seu template{% endblock %}
    
    {% block main %}
    
    <main>
        <div class="container-esquerdo">
            <div class="container-menor-esquerdo">
                <div>
                    <h3>Olá {{ user.username.capitalize }}</h3>
                    <nav>
                        <ul>
                            <li>
                                <i>{% icon "layout" class="css-class" %}</i>
                                <a href="{% url 'cria-template' %}">Crie seus template</a>
                            </li>
                            <li id="nesta-pagina">
                                <i>{% icon "list" class="css-class" %}</i>
                                Meus templates
                            </li>
                        </ul>
                    </nav>
                </div>
                <span>Ar_template® <p> v1.0</p></span>            
            </div>
        </div>
    
        
        <div class="container-direito">
    
            <div class="container-menor-direito">
    
            <div class="login-cadastro-nome">
                <h2>
                    Tem certeza?
                </h2>
                <form  method="post" action="{% url 'sair' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-red">
                        <i>{% icon "log-out" class="css-class" %}</i>
                        Sair
                    </button>
                </form>
            </div>

            <div class="deletando-cliente">
                <form method="POST" class="cliente-delete">
                    {% csrf_token %}
                    <h4>
                        Tem certeza que deseja deletar {{cliente.cliente}}
                    </h4>
                    <button type="submit" class="btn-red" >
                        Deletar
                    </button>
                </form>
            </div>
            <div class="complemento">

            </div>
    </main>
    
    
    {% endblock %}