{% extends 'base.html' %}
{% load static %}
{% load icon %}

{% block content %} <link rel="stylesheet" href="{% static 'estilo/criar_template.css' %}"> {% endblock %}

{% block title %}Crie seu template{% endblock %}

{% block main %}

<main>
    <div class="container-esquerdo">
        <div class="container-menor-esquerdo">
            <div>
                <h3>Olá {{ user.username.capitalize }}</h3>
                <nav>
                    <ul>
                        <li>
                            <i>{% icon "layout" class="css-class" %}</i>
                            <a href="{% url 'cria-template' %}">Crie seus template</a>
                        </li>
                        <li id="nesta-pagina">
                            <i>{% icon "list" class="css-class" %}</i>
                            Meus templates
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="desenvolvido">
                <span>Ar_template® <p> v1.0</p></span>            
                <span>Desenvolvido Por Rodrigo C.®</span>
            </div>
        </div>
    </div>

    
    <div class="container-direito">

        <div class="container-menor-direito">

            <div class="login-cadastro-nome">
                <h2>
                    Meus Templates,
                    <p>Aqui vc pode gerenciar todos os seus templates</p>
                </h2>
                <form  method="post" action="{% url 'sair' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-red">
                        <i>{% icon "log-out" class="css-class" %}</i>
                        Sair
                    </button>
                </form>
            </div>

            <form method="GET" class="pesquisa">
                <button type="submit"><i>{% icon "search" class="css-class" %}</i></button>
                <input id="campodepesquisa" type="search" name="pesquisa" placeholder="Busque por clientes" {% if pesquisa %} value=" {{ pesquisa }} "{% endif %}>
                {% if pesquisa %}
                <div class="filtro">
                    <a href="{% url 'templates' %}" class="btn-border">Limpar filtro</a>
                </div>
                {% endif %}
            </form>

            <div class="clientes">
                {% for cliente in clientes %}
                <div class="clientes-itens">
                    <p><i>{% icon "users" class="css-class" %}</i>Cliente: <b><a href="{% url 'meucliente' cliente.cliente %}"> {{ cliente.cliente }} </a></b> </p>
                    <p>Criado em: {{ cliente.criacao }}</p>
                    <div class="delete">
                        <a href="{% url 'deletar' cliente.cliente %}" class="btn-red"><i>{% icon "trash-2" class="css-class" %}</i> Deletar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <div class="paginador">
                <div>
                    Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}
                </div>
                <div>
                    
                    {% if clientes.has_previous  %}
                    <span>
                        <a href="?page=1"> <<</a>
                    </span>
                    <span>
                        <a href="?page={{ clientes.previous_page_number }}" >{{ clientes.previous_page_number }}</a>
                    </span>
                    {% endif %} 
            
                    <span class="nesta-pagina">
                        {{ clientes.number }}
                    </span>
            
                    
                    {% if clientes.has_next %}
                    <span>
                        <a href="?page={{ clientes.next_page_number }}">{{ clientes.next_page_number }}</a>
                    </span>
                    <span>
                        <a href="?page={{ clientes.paginator.num_pages }}">>></a>
                    </span>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    
</main>


{% endblock %}